# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/
.next/
out/

# Production
.env
.env.local
.env.development
.env.production
.env.test

# Cache
.cache/
.next/cache/
turbo/
.vscode/

# OS / Editor files
.DS_Store
Thumbs.db
*.swp

# TypeScript
*.tsbuildinfo

# Optional
coverage/
